@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 100% 0 0;
    --foreground: 25% 0 0;

    --card: 98% 0 0;
    --card-foreground: 25% 0 0;

    --popover: 100% 0 0;
    --popover-foreground: 25% 0 0;

    --primary: 60% 0.2 250;
    --primary-foreground: 98% 0 0;

    --secondary: 92% 0.1 250;
    --secondary-foreground: 25% 0 0;

    --muted: 92% 0 0;
    --muted-foreground: 65% 0 0;

    --accent: 92% 0.1 250;
    --accent-foreground: 25% 0 0;

    --destructive: 65% 0.3 30;
    --destructive-foreground: 98% 0 0;

    --border: 90% 0 0;
    --input: 90% 0 0;
    --ring: 60% 0.2 250;

    --radius: 0.5rem;
  }

  .dark {
    --background: 25% 0 0;
    --foreground: 98% 0 0;

    --card: 28% 0 0;
    --card-foreground: 98% 0 0;

    --popover: 25% 0 0;
    --popover-foreground: 98% 0 0;

    --primary: 60% 0.2 250;
    --primary-foreground: 98% 0 0;

    --secondary: 32% 0.1 250;
    --secondary-foreground: 98% 0 0;

    --muted: 32% 0 0;
    --muted-foreground: 65% 0 0;

    --accent: 32% 0.1 250;
    --accent-foreground: 98% 0 0;

    --destructive: 65% 0.3 30;
    --destructive-foreground: 98% 0 0;

    --border: 32% 0 0;
    --input: 32% 0 0;
    --ring: 60% 0.2 250;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
