---
import ButtonExamples from '@/components/buttonExamples';
import DocsLayout from '@/layouts/DocsLayout.astro';
---

<DocsLayout
  title="Buttons"
  description="Documentación de botones - Una biblioteca moderna y personalizable de componentes de botón"
>
  <main class="container mx-auto py-16">
    <h1 class="text-4xl font-bold mb-8">Button</h1>

    <ButtonExamples client:only />
  </main>
</DocsLayout>
